.hljs {
    display: block;
    overflow-x: auto;
    padding: .5em;
    background: #fff
}

.hljs,.hljs-subst {
    color: #000
}

.hljs-addition,.hljs-meta,.hljs-string,.hljs-symbol,.hljs-template-tag,.hljs-template-variable {
    color: #756bb1
}

.hljs-comment,.hljs-quote {
    color: #636363
}

.hljs-bullet,.hljs-link,.hljs-literal,.hljs-number,.hljs-regexp {
    color: #31a354
}

.hljs-deletion,.hljs-variable {
    color: #88f
}

.hljs-built_in,.hljs-doctag,.hljs-keyword,.hljs-name,.hljs-section,.hljs-selector-class,.hljs-selector-id,.hljs-selector-tag,.hljs-strong,.hljs-tag,.hljs-title,.hljs-type {
    color: #3182bd
}

.hljs-emphasis {
    font-style: italic
}

.hljs-attribute {
    color: #e6550d
}

@font-face {
    font-family: 'icomoon';
    src:  url('icomoon.eot?h6xgdm');
    src:  url('icomoon.eot?h6xgdm#iefix') format('embedded-opentype'),
      url('icomoon.ttf?h6xgdm') format('truetype'),
      url('icomoon.woff?h6xgdm') format('woff'),
      url('icomoon.svg?h6xgdm#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }

[class*=" icon-"],[class^=icon-] {
    font-family: icomoon!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-rate-face-off:before {
    content: "\E900"
}

.icon-rate-face-1:before {
    content: "\E901"
}

.icon-rate-face-2:before {
    content: "\E902"
}

.icon-rate-face-3:before {
    content: "\E903"
}

body,html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased
}

body.is-component,html.is-component {
    overflow: hidden
}

#app {
    height: 100%
}

#app.is-component {
    overflow-y: hidden
}

#app.is-component .main-cnt {
    padding: 0;
    margin-top: 0;
    height: 100%;
    min-height: auto
}

#app.is-component .headerWrapper {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1500
}

#app.is-component .headerWrapper .container {
    padding: 0
}

a {
    color: #409eff;
    text-decoration: none
}

code {
    background-color: #f9fafc;
    padding: 0 4px;
    border: 1px solid #eaeefb;
    border-radius: 4px
}

button,input,select,textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit
}

.hljs {
    line-height: 1.8;
    font-family: Menlo,Monaco,Consolas,Courier,monospace;
    font-size: 12px;
    padding: 18px 24px;
    background-color: #fafafa;
    border: 1px solid #eaeefb;
    margin-bottom: 25px;
    border-radius: 4px;
    -webkit-font-smoothing: auto
}

.main-cnt {
    margin-top: -80px;
    padding: 80px 0 340px;
    box-sizing: border-box;
    min-height: 100%
}

.container,.page-container {
    width: 1140px;
    padding: 0;
    margin: 0 auto
}

.page-container {
    padding-top: 55px
}

.page-container h2 {
    font-size: 28px;
    color: #1f2d3d;
    margin: 0
}

.page-container h3 {
    font-size: 22px
}

.page-container h2,.page-container h3,.page-container h4,.page-container h5 {
    font-weight: 400;
    color: #1f2f3d
}

.page-container h2 a,.page-container h3 a,.page-container h4 a,.page-container h5 a {
    float: left;
    margin-left: -20px;
    opacity: 0;
    cursor: pointer
}

.page-container h2 a:hover,.page-container h2:hover a,.page-container h3 a:hover,.page-container h3:hover a,.page-container h4 a:hover,.page-container h4:hover a,.page-container h5 a:hover,.page-container h5:hover a {
    opacity: .4
}

.page-container p {
    font-size: 14px;
    color: #5e6d82;
    line-height: 1.5em
}

.page-container .tip {
    padding: 8px 16px;
    background-color: #ecf8ff;
    border-radius: 4px;
    border-left: 5px solid #50bfff;
    margin: 20px 0
}

.page-container .tip code {
    background-color: hsla(0,0%,100%,.7);
    color: #445368
}

.page-container .warning {
    padding: 8px 16px;
    background-color: #fff6f7;
    border-radius: 4px;
    border-left: 5px solid #fe6c6f;
    margin: 20px 0
}

.page-container .warning code {
    background-color: hsla(0,0%,100%,.7);
    color: #445368
}

.demo {
    margin: 20px 0
}

@media (max-width: 1140px) {
    .container,.page-container {
        width:100%
    }
}

@media (max-width: 768px) {
    .container,.page-container {
        padding:0 20px
    }

    #app.is-component .headerWrapper .container {
        padding: 0 12px
    }
}

.demo-block {
    border: 1px solid #ebebeb;
    border-radius: 3px;
    transition: .2s
}

.demo-block .demo-block-control .text-slide-enter,.demo-block .demo-block-control .text-slide-leave-active {
    opacity: 0;
    -ms-transform: translateX(10px);
    transform: translateX(10px)
}

.demo-block .demo-block-control:hover {
    color: #409eff;
    background-color: #f9fafc
}

.demo-block code {
    font-family: Menlo,Monaco,Consolas,Courier,monospace
}

.demo-block .demo-button {
    float: right
}

.demo-block .source {
    padding: 24px
}

.demo-block .meta {
    background-color: #fafafa;
    border-top: 1px solid #eaeefb;
    overflow: hidden;
    height: 0;
    transition: height .2s
}

.demo-block .description {
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    font-size: 14px;
    line-height: 22px;
    color: #666;
    word-break: break-word;
    margin: 10px;
    background-color: #fff
}

.demo-block .description p {
    margin: 0;
    line-height: 26px
}

.demo-block .description code {
    color: #5e6d82;
    background-color: #e6effb;
    margin: 0 4px;
    display: inline-block;
    padding: 1px 5px;
    font-size: 12px;
    border-radius: 3px;
    height: 18px;
    line-height: 18px
}

.demo-block .highlight pre {
    margin: 0
}

.demo-block .highlight code.hljs {
    margin: 0;
    border: none;
    max-height: none;
    border-radius: 0
}

.demo-block .highlight code.hljs:before {
    content: none
}

.demo-block .demo-block-control {
    border-top: 1px solid #eaeefb;
    height: 44px;
    box-sizing: border-box;
    background-color: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    text-align: center;
    margin-top: -1px;
    color: #d3dce6;
    cursor: pointer;
    position: relative
}

.demo-block .demo-block-control i {
    font-size: 16px;
    line-height: 44px;
    transition: .3s
}

.demo-block .demo-block-control i.hovering {
    -ms-transform: translateX(-40px);
    transform: translateX(-40px)
}

.demo-block .demo-block-control>span {
    position: absolute;
    -ms-transform: translateX(-30px);
    transform: translateX(-30px);
    font-size: 14px;
    line-height: 44px;
    transition: .3s;
    display: inline-block
}

.demo-block .demo-block-control .control-button {
    line-height: 26px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 25px
}

.demo-block .demo-block-control.is-fixed {
    position: fixed;
    bottom: 0;
    width: 868px
}

.demo-block.hover {
    box-shadow: 0 0 8px 0 rgba(232,237,250,.6),0 2px 4px 0 rgba(232,237,250,.5)
}



.header .nav:after {
    clear: both
}

.header .nav:after,.header .nav:before {
    display: table;
    content: ""
}

.headerWrapper {
    height: 80px
}

.header {
    height: 80px;
    background-color: #fff;
    color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 80px;
    z-index: 100;
    position: relative
}

.header .nav-item.lang-item,.header .nav-item:last-child {
    cursor: default;
    margin-left: 34px
}

.header .nav-item.lang-item span,.header .nav-item:last-child span {
    opacity: .8
}

.header .nav-item.lang-item .nav-lang,.header .nav-item:last-child .nav-lang {
    cursor: pointer;
    display: inline-block;
    height: 100%;
    color: #888
}

.header .nav-item.lang-item .nav-lang:hover,.header .nav-item:last-child .nav-lang:hover {
    color: #409eff
}

.header .nav-item.lang-item .nav-lang.active,.header .nav-item:last-child .nav-lang.active {
    font-weight: 700;
    color: #409eff
}

.header .container {
    height: 100%;
    box-sizing: border-box
}

.header .nav-lang-spe {
    color: #888
}

.header h1 {
    margin: 0;
    float: left;
    font-size: 32px;
    font-weight: 400
}

.header h1 a {
    color: #333;
    text-decoration: none;
    display: block
}

.header h1 span {
    font-size: 12px;
    display: inline-block;
    width: 34px;
    height: 18px;
    border: 1px solid hsla(0,0%,100%,.5);
    text-align: center;
    line-height: 18px;
    vertical-align: middle;
    margin-left: 10px;
    border-radius: 3px
}

.header .nav {
    float: right;
    height: 100%;
    line-height: 80px;
    background: transparent;
    padding: 0;
    margin: 0
}

.header .nav-gap {
    position: relative;
    width: 1px;
    height: 80px;
    padding: 0 20px
}

.header .nav-gap:before {
    content: "";
    position: absolute;
    top: calc(50% - 8px);
    width: 1px;
    height: 16px;
    background: #ebebeb
}

.header .nav-logo-small,.header .nav-logo {
    vertical-align: sub
}

.header .nav-logo-small {
    display: none
}

.header .nav-item {
    margin: 0;
    float: left;
    list-style: none;
    position: relative;
    cursor: pointer
}

.header .nav-item a.active:after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 15px;
    left: calc(50% - 7px);
    width: 14px;
    height: 4px;
    background: #409eff
}

.header .nav-item a {
    text-decoration: none;
    color: #888;
    display: block;
    padding: 0 22px
}

.header .nav-item a.active,.header .nav-item a:hover {
    color: #333
}

.header .nav-item.nav-algolia-search {
    cursor: default
}

.nav-dropdown {
    margin-bottom: 6px;
    padding-left: 18px;
    width: 100%
}

.nav-dropdown span {
    display: block;
    width: 100%;
    font-size: 16px;
    color: #888;
    line-height: 40px;
    transition: .2s;
    padding-bottom: 6px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.nav-dropdown span:hover {
    cursor: pointer
}

.nav-dropdown i {
    transition: .2s;
    font-size: 12px;
    color: #979797;
    -ms-transform: translateY(-2px);
    transform: translateY(-2px)
}

.nav-dropdown.is-active i,.nav-dropdown.is-active span,.nav-dropdown:hover i,.nav-dropdown:hover span {
    color: #409eff
}

.nav-dropdown.is-active i {
    -ms-transform: rotate(180deg) translateY(3px);
    transform: rotate(180deg) translateY(3px)
}

.nav-dropdown-list {
    width: auto
}

@media (max-width: 850px) {
    .header .nav-logo {
        display:none
    }

    .header .nav-logo-small {
        display: inline-block
    }

    .header .nav-item {
        margin-left: 6px
    }

    .header .nav-item a {
        padding: 0 5px
    }

    .header .nav-item.lang-item,.header .nav-item:last-child {
        margin-left: 10px
    }

    .header .nav-algolia-search,.header .nav-theme-switch {
        display: none
    }
}

@media (max-width: 700px) {
    .header .container {
        padding:0 12px
    }

    .header .nav-item a,.header .nav-lang {
        font-size: 12px;
        vertical-align: top
    }

    .header .nav-dropdown {
        padding: 0
    }

    .header .nav-gap {
        padding: 0 8px
    }
}

.side-nav {
    width: 100%;
    box-sizing: border-box;
    padding-right: 30px;
    transition: opacity .3s
}

.side-nav li {
    list-style: none
}

.side-nav ul {
    padding: 0;
    margin: 0;
    overflow: hidden
}

.side-nav>ul>.nav-item>a {
    margin-top: 15px
}

.side-nav>ul>.nav-item:nth-child(-n+4)>a {
    margin-top: 0
}

.side-nav .nav-item a {
    font-size: 16px;
    color: #333;
    line-height: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    display: block;
    position: relative;
    transition: .15s ease-out;
    font-weight: 700
}

.side-nav .nav-item a.active {
    color: #409eff
}

.side-nav .nav-item .nav-item a {
    display: block;
    height: 40px;
    color: #444;
    line-height: 40px;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 400
}

.side-nav .nav-item .nav-item a.active,.side-nav .nav-item .nav-item a:hover {
    color: #409eff
}

.side-nav .nav-group__title {
    font-size: 12px;
    color: #999;
    line-height: 26px;
    margin-top: 15px
}

}

.side-nav.is-fade {
    transition: opacity 3s
}headerWrapper

.nav-dropdown-list {
    width: 120px;
    margin-top: -8px
}

.nav-dropdown-list li {
    font-size: 14px
}

